<%= form_with(model: @task, local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Task.model_name.human, count: @task.errors.count) %></h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <td><%= form.label :content %></td>
        <td><%= form.text_area :content %></td>
      </tr>
      <tr>
        <td><%= form.label :deadline %></td>
        <td><%= form.datetime_select :deadline %></td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= form.submit "登録する" %>
  </div>
<% end %>
