<%= form_with(model: @task, local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Task.model_name.human, count: @task.errors.count) %></h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <td><%= form.label :content %></td>
        <td><%= form.text_area :content %></td>
      </tr>
      <tr>
        <td><%= form.label :deadline %></td>
        <td><%= form.datetime_select :deadline %></td>
      </tr>
      <tr>
        <td><%= form.label :status %></td>
        <td><%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択してください" %></td>
      </tr>
      <tr>
        <td><%= form.label :priority %></td>
        <td><%= form.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]], include_blank: "選択してください" %></td>
      </tr>
    </table>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>


  <div class="actions">
    <%= form.submit "登録する", class: 'btn btn-default' %>
  </div>
<% end %>
