<h4>編集</h4>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true, url:admin_user_path(@user.id), method: :patch ) do |form| %>
  <table>
    <tr>
      <td><%= form.label :名前 %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td><%= form.label :メールアドレス %></td>
      <td><%= form.email_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :パスワード %></td>
      <td><%= form.password_field :password %></td>
    </tr>
    <tr>
      <td><%= form.label :確認用パスワード %></td>
      <td><%= form.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td><%= form.label :admin %></td>
      <td><%= form.select :admin, [["管理者", "true"], ["一般", "false"]], include_blank: "選択してください" %></td>
    </tr>
  </table>

  <table>
    <tr>
      <td><%= form.submit "変更" %></td>
    </tr>
    <tr>
      <td><%= link_to '戻る', admin_users_path, class: 'btn btn-default' %></td>
    </tr>
  </table>
<% end %>
